::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

/* Target the Angular Material input field */
.mat-mdc-form-field {
  width: 100%; /* Set a fixed width */
}

/* Optional: For better specificity, include more specific class selectors */
.mat-mdc-form-field.mat-mdc-form-field-type-mat-input {
  width: 100%;
}
