.margin-0 {
  margin: 0;
}
.margin-0-10 {
  margin: 0 10%;
}
.margin-12 {
  margin: 12px !important;
}
.margin-0-24px {
  margin: 0 24px;
}

// Margin From Left
.margin-left-12 {
  margin-left: 12px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-24 {
  margin-left: 24px;
}
.margin-left-200 {
  margin-left: 200px;
}

// Margin from Top
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-25 {
  margin-top: 25px;
}

// Margin from Right
