@use "abstracts/variables"; // Access variables with 'variables' namespace

// Mixin for button properties
@mixin button-properties($color, $opacity) {
  color: $color !important;
  background-color: rgba($color, $opacity) !important;
  border-radius: 4px;
}

.app-button {
  // Default styles
  font-size: variables.$medium-font;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;

  // Apply border radius globally to all buttons
  border-radius: 4px;

  // Apply colors dynamically from $common-colors using the mixin
  @each $color-name, $value in variables.$common-colors {
    &.#{$color-name} {
      @include button-properties($value, 0.3); // Use rgba for lighter colors
    }
  }

  // Apply font size dynamically from $common-fonts map
  @each $font-name, $value in variables.$common-fonts {
    &.#{$font-name} {
      font-size: $value;
    }
  }

  // Add weight and style modifiers
  &.bold {
    font-weight: bold;
  }
  &.light {
    font-weight: lighter;
  }
  &.italic {
    font-style: italic;
  }

  // Compatibility with Angular Material buttons
  button.mat-button,
  button.mat-raised-button,
  button.mat-stroked-button {
    background: none; // Keep Material design styles
    border: none; // Reset unwanted defaults
    border-radius: 4px; // Apply border-radius to Material buttons

    &.primary {
      @include button-properties(variables.$primary-color, 0.3);
    }

    &.success {
      @include button-properties(variables.$success-color, 0.3);
    }

    &.warn {
      @include button-properties(variables.$warn-color, 0.3);
    }

    &.default {
      @include button-properties(variables.$default-color, 0.3);
    }

    &.grey1 {
      @include button-properties(variables.$grey-color, 0.3);
    }

    &.light {
      @include button-properties(variables.$white-color, 0.3);
    }

    &.dark {
      @include button-properties(variables.$black-color, 0.3);
    }
  }

  // For MDC button
  @each $color-name, $color-value in variables.$common-colors {
    &.mdc-button.mdc-button--unelevated.mat-mdc-unelevated-button.mat-unthemed.mat-mdc-button-base.#{$color-name} {
      @include button-properties(
        $color-value,
        0.3
      ); // Use main color with opacity
    }
  }

  // For material icon buttons
  @each $color-name, $color-value in variables.$common-colors {
    button.mat-icon-button,
    button.mat-fab,
    button.mat-mini-fab {
      @include button-properties(
        $color-value,
        0.3
      ); // Apply rgba for both text and background
    }
  }
}
