:host {
    display: block;
    height: 100vh;
    overflow: hidden;
}

.app-layout {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);
}

.main-content-wrapper {
    margin-left: 256px;
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}